/* .card .card-body .card-title {
  background-color: #ef4444;
} */


.btn-primary {
  width: 10vw;
  height: 9vh;
  border: solid 1px;
  border-radius: 100px;
  background-color: #2b2d42;
}

.btn-secondary {
  width: 10vw;
  height: 9vh;
  border: solid 1px;
  border-radius: 100px;
  background-color: white;
  color: #2b2d42;
  font-weight: bold;
}