
<form class="row justify-content-center pb-4" style="height: 100vh;">

   <h2>Desligamento</h2>

<div class="col-md-2">
  <label for="" class="form-label">DATA:</label>
  <input type="date" class="form-control" placeholder="Digite a data" aria-label="DATA">
</div>

<div class="col-md-3">
  <label for="" class="form-label">CPF</label>
  <input type="text" class="form-control" placeholder="Digite o cpf" aria-label="CPF">
</div>

<div class="col-md-5">
  <label for="" class="form-label">Nome</label>
  <input type="text" class="form-control" placeholder="Nome" aria-label="Nome">
</div>

<div class="col-md-5">
  <label for="" class="form-label">Setor</label>
  <input type="text" class="form-control" placeholder="Nome" aria-label="Setor">
</div>

<div class="col-md-5">
  <label for="" class="form-label">Cargo</label>
  <input type="text" class="form-control" placeholder="Nome" aria-label="Cargo">
</div>

<p></p>
<h3>Situação do Desligamento</h3>

<div>
  <div class="col-md-2">
    <label for="grave">Grave:</label>
    <select class="form-control form-control-sm">
      <option selected>Escolher...</option>
      <option>Sim</option>
      <option>Não</option>
    </select>
</div>
</div>

<div class="col-md-6 ">
  <label for="exampleFormControlTextarea1">Motivo:</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

<div class="col-md-6 ">
  <label for="exampleFormControlTextarea1">Feedback:</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

<div class="col-12 g-5 d-flex justify-content-end">
  <button routerLink="/" class="btn btn-primary me-md-2" type="button">Cadastrar</button>
  <button routerLink="/" class="btn btn-primary me-md-2"  type="button">Cancelar</button>
</div>

</form>
