<form class="container p-3" style="height: 93vh;" (ngSubmit)="salvarFuncionario()">
  <h2 class="mb-4">Cadastro de Funcionários</h2>

  <!-- Dados Pessoais -->
  <div class="card p-4 mb-4">
    <h5 class="mb-3">Dados Pessoais</h5>
    <div class="row g-3">
      <div class="col-md-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" [(ngModel)]="funcionario.nome" name="nome">
      </div>
      <div class="col-md-3">
        <label for="dataNascimento" class="form-label">Data de Nascimento</label>
        <input type="date" class="form-control" id="dataNascimento" [(ngModel)]="funcionario.dataNascimento"
          name="dataNascimento">
      </div>
      <div class="col-md-3">
        <label for="cpf" class="form-label">CPF</label>
        <input type="text" class="form-control" id="cpf" [(ngModel)]="funcionario.cpf" name="cpf">
      </div>
      <div class="col-md-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="funcionario.email" name="email">
      </div>
      <div class="col-md-5">
        <label for="rua" class="form-label">Rua</label>
        <input type="text" class="form-control" id="rua" [(ngModel)]="funcionario.rua" name="rua">
      </div>
      <div class="col-md-2">
        <label for="numero" class="form-label">Número</label>
        <input type="text" class="form-control" id="numero" [(ngModel)]="funcionario.numero" name="numero">
      </div>
      <div class="col-md-5">
        <label for="complemento" class="form-label">Complemento</label>
        <input type="text" class="form-control" id="complemento" [(ngModel)]="funcionario.complemento"
          name="complemento">
      </div>
      <div class="col-md-3">
        <label for="cep" class="form-label">CEP</label>
        <input type="text" class="form-control" id="cep" [(ngModel)]="cep" (keydown)="buscarEnderecoPorCep($event)"
          name="cep">
        <div *ngIf="mensagemDeErro" class="text-danger">{{ mensagemDeErro }}</div>
      </div>
      <div class="col-md-3">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="text" class="form-control" id="bairro" [(ngModel)]="funcionario.bairro" name="bairro">
      </div>
      <div class="col-md-3">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="cidade" [(ngModel)]="funcionario.cidade" name="cidade">
      </div>
      <div class="col-md-3">
        <label for="estado" class="form-label">Estado</label>
        <input type="text" class="form-control" id="estado" [(ngModel)]="funcionario.estado" name="estado">
      </div>
    </div>
  </div>

  <!-- Informações do Cargo -->
  <div class="card p-4 mb-4">
    <h5 class="mb-3">Informações do Cargo</h5>
    <div class="row g-3">
      <div class="col-md-3">
        <label for="dataAdmissao" class="form-label">Data de Admissão</label>
        <input type="date" class="form-control" id="dataAdmissao" [(ngModel)]="funcionario.dataAdmissao"
          name="dataAdmissao">
      </div>
      <div class="col-md-4">
        <label for="setor" class="form-label">Setor</label>
        <input type="text" class="form-control" id="setor" [(ngModel)]="funcionario.setor" name="setor">
      </div>
      <div class="col-md-4">
        <label for="cargo" class="form-label">Cargo</label>
        <input type="text" class="form-control" id="cargo" [(ngModel)]="funcionario.cargo" name="cargo">
      </div>
    </div>
  </div>

  <!-- Botões -->
  <div class="text-end">
    <button routerLink="/" class="btn btn-secondary me-2" type="button">Cancelar</button>
    <button class="btn btn-primary" type="submit">Cadastrar</button>
  </div>

  <div *ngIf="mensagemDeSucesso" class="text-success mt-3">{{ mensagemDeSucesso }}</div>
</form>