<main>
  
  <h1>Cadastro de Funcionários</h1>
<form class="row g-3" style="width: 100%; height: 80%;">

<div class="col-md-6">
  <label for="" class="form-label">Nome</label>
  <input type="text" class="form-control" placeholder="Nome" aria-label="Nome">
</div>

<div class="col-md-6">
  <label for="inputEmail4" class="form-label">Email</label>
  <input type="email" class="form-control" id="inputEmail4">
</div>

  <div class="col-6">
    <label for="inputAddress" class="form-label">Rua</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-2">
    <label for="inputAddress2" class="form-label">Numero</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>

   <div class="col-4">
    <label for="inputAddress2" class="form-label">Complemento</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, or floor">
  </div>

  <div class="col-md-3">
  <label for="inputCep" class="form-label">Cep</label>
  <input type="text" class="form-control" id="inputCep">
</div>

  <div class="col-3">
    <label for="inputAddress2" class="form-label">Bairro</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-md-3">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-3">
    <label for="inputState" class="form-label">State</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>

<div class="col-12 g-5 ">
  <button class="btn btn-primary me-md-3" type="button">Cadastrar</button>
  <button routerLink="/" class="btn btn-primary me-md-2"  type="button">Cancelar</button>
</div>

</form>
</main>
