<div class="menu-container d-flex flex-column flex-shrink-0 p-3 bg-light">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Sidebar</span>
  </a>

  <hr>

  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        <fa-icon [icon]="faChartBar" />
        Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <fa-icon [icon]="faSquareBinary" />
        IA Indica
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <fa-icon [icon]="faUser" />
        Funcionários
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <fa-icon [icon]="faLinkSlash" />
        Desligamento
      </a>
    </li>
  </ul>

  <hr>

  <div class="dropdown">
    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
      data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>mdo</strong>
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
      <li><a class="dropdown-item" href="#">New project...</a></li>
      <li><a class="dropdown-item" href="#">Settings</a></li>
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>

<!--
<div class="flex-shrink-0 p-1 bg-white container-fluid">
  <a href="/" class="d-flex align-items-center link-dark text-decoration-none">
    <img src="/assets/logo1.jpg" alt="logo">
  </a>
</div>

<ul class="list-unstyled nav nav-pills flex-column mb-auto">
  <li class="">
    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#dashboard-collapse" aria-expanded="false">
      Dashboard
    </button>
    <div class="collapse" id="dashboard-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li><a href="#" class="link-dark rounded">Mensal</a></li>
        <li><a routerLink="/dashboard/grafico-anual" class="link-dark rounded">Anual</a></li>
      </ul>
    </div>
  </li>
  <li class="mb-1">
    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#ia-indica-collapse" aria-expanded="false">
      IA Indica
    </button>
    <div class="collapse" id="ia-indica-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li><a href="#" class="link-dark rounded">Campanhas</a></li>
        <li><a href="#" class="link-dark rounded">Titulo</a></li>
      </ul>
    </div>
  </li>
  <li class="mb-1">
    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#funcionario-collapse" aria-expanded="false">
      Funcionario
    </button>
    <div class="collapse" id="funcionario-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li><a routerLink="/funcionario/cadastro-funcionario" class="link-dark rounded">Cadastro</a></li>
        <li><a routerLink="/funcionario/acompanhamento" class="link-dark rounded">Acompanhamento</a></li>
        <li><a routerLink="/funcionario/fit-cultural" class="link-dark rounded">Fit Cutural</a></li>
      </ul>
    </div>
  </li>

  <li class="mb-1">
    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#desligamento-collapse" aria-expanded="false">
      Desligamento
    </button>
    <div class="collapse" id="desligamento-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li><a routerLink="/desligamento" class="link-dark rounded">Cadastro de Desligamento</a></li>
        <li><a href="#" class="link-dark rounded">Motivos de Desligamento</a></li>
      </ul>
    </div>
  </li>

  <li class="border-top my-3"></li>
  <li class="mb-1">
    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
      data-bs-target="#account-collapse" aria-expanded="false">
      Login
    </button>
    <div class="collapse" id="account-collapse">
      <ul class="btn-toggle-nav fw-normal pb-1 small">
        <li><a href="#" class="link-dark rounded">New...</a></li>
        <li><a href="#" class="link-dark rounded">Perfil</a></li>
        <li><a href="#" class="link-dark rounded">Configurações</a></li>
        <li><a href="#" class="link-dark rounded">Sair</a></li>
      </ul>
    </div>
  </li>
</ul>
-->



<!-- <ul>
  <li> <a routerLink="dashboard"> DASHBOARD</a></li>
  <li> <a routerLink="indica">IA INDICA </a></li>
  <li> <a routerLink="funcionarios"> FUNCIONARIOS</a></li>
  <li><a routerLink="fit-cultural"> FIT CULTURAL</a></li>
  <li><a routerLink="acompanhamento"> ACOMPANHAMENTO</a></li>
 <li>
    <ul>DESLIGAMENTO
      <li><a routerLink="cadastro-desligamento"> CADASTRO DESLIGAMENTO</a></li>
      <li><a routerLink="motivos-desligamentos"> MOTIVOS DE DESLIGAMENTOS</a></li>
    </ul>
 </li>
</ul> -->