.min-vh-100 {
  min-height: 100vh;
}


.form-control.border-2:focus {
  border-color: #2b2d42 !important;
  box-shadow: 0 0 0 0.25rem rgba(43, 45, 66, 0.25) !important;

}

.form-check-input:focus {
  border-color: #2b2d42 !important;
  box-shadow: 0 0 0 0.25rem rgba(43, 45, 66, 0.25) !important;
}

.text-xs {
  font-size: 0.75rem;

}

.text-sm {
  font-size: 0.875rem;
}

.bg-warning-subtle {
  background-color: #fef3c7 !important;
}

.text-warning-emphasis {
  color: #92400e !important;
}

.bg-danger-subtle {
  background-color: #fee2e2 !important;
  /* Light red */
}

.text-danger-emphasis {
  color: #991b1b !important;
  /* Darker red */
}

.text-primary {
  color: #ef4444 !important;
}


.hover-shadow-lg:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.hover-bg-light:hover {
  background-color: #f8f9fa !important;
}


.progress-bar.transition-all {
  transition: width 0.3s ease-in-out;
}


.text-light-emphasis {
  color: #ced4da !important;
}


.bi {
  display: inline-block;
  vertical-align: -0.125em;
  fill: currentcolor;
}


.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.w-100 {
  width: 100% !important;
}