<div *ngIf="!estaLogado()">
  <div class="col-lg-12"><router-outlet /></div>
  <div class="footer"><app-footer /></div>
</div>

<div *ngIf="estaLogado()">
  <div class="row">
    <div class="col-lg-12 header">
      <app-header />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2 col-md-1 col-sm-12 menu">
      <app-menu />
    </div>

    <div class="col-lg-10 col-md-11 col-sm-12 conteudo">
      <router-outlet />
    </div>

    <div class="footer"><app-footer /></div>
  </div>
</div>