<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container-fluid">
    <div class="navbar-brand d-flex align-items-center">
      <i class="bi bi-building fs-1 text-primary me-2"></i>
      Lista de Setores
    </div>
    <div class="d-flex align-items-center mb-3">
      <button routerLink="/paginas/paginas-cadastro/cadastro-setor" class="btn btn-danger btn-custom me-3">
        <i class="bi bi-plus-circle me-1"></i> Add Setor
      </button>
    </div>
  </div>
</nav>

<div class="row mb-4">
  <div class="col-12">
    <div class="card shadow-sm">
      <div class="card-header text-white" style="background-color: #2b2d42;">
        <h5 class="card-title mb-0">
          Setores
        </h5>
      </div>
      <div class="card-body">
        <div class="row g-3">

          <!-- Filtro por Cargo -->
          <div className="table-responsive">
            <table class="table table-hover">
              <thead className="table-light">
                <tr>
                  <th>Setor</th>
                  <th class="col-md-2"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let setor of setores">
                  <td>{{ setor.nome }}</td>
                  <td>
                    <a routerLink="/paginas/paginas-cadastro/cadastro-setor" [queryParams]="{ id: setor.id }">
                      <i class="bi bi-pencil"></i>
                    </a>
                    &nbsp;
                    <a (click)="deletar(setor)" href="javascript:void(0)">
                      <i class="bi bi-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>