<div class="sidebar">
  <nav class="nav flex-column">
    <a class="nav-link abridor-de-menu">
      <span class="icon">
        <i class="bi bi-justify"></i>
      </span>
    </a>

    <a [routerLink]="rotasService.dashboard()" class="nav-link">
      <span class="icon">
        <i class="bi bi-graph-up"></i>
      </span>
      <span class="description">Dashboard</span>
    </a>

    <a [routerLink]="rotasService.iaIndica()" class="nav-link">
      <span class="icon">
        <i class="bi bi-cpu"></i>
      </span>
      <span class="description"> IA Indica</span>
    </a>

    <a [routerLink]="rotasService.fitCultural()" class="nav-link">
      <span class="icon">
        <i class="bi bi-hand-thumbs-up"></i>
      </span>
      <span class="description">Fit Cultural</span>
    </a>

    <!-- menu funcionarios -->
    <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-funcionarios" aria-expanded="false"
      aria-controls="submenu-funcionarios">
      <span class="icon">
        <i class="bi bi-people"></i>
      </span>
      <span class="description">Funcionários <i class="bi bi-caret-down-fill"></i></span>
    </a>

    <!-- submenu-funcionarios -->
    <div class="sub-menu collapse" id="submenu-funcionarios">
      <a [routerLink]="rotasService.listagemFuncionarios()" class="nav-link">
        <span class="icon">
          <i class="bi bi-file-earmark-text"></i>
        </span>
        <span class="description">Listagem Funcionarios</span>
      </a>
      <a [routerLink]="rotasService.listagemSetores()" class="nav-link">
        <span class="icon">
          <i class="bi bi-building"></i>
        </span>
        <span class="description">Setores</span>
      </a>
      <a [routerLink]="rotasService.listagemCargos()" class="nav-link">
        <span class="icon">
          <i class="bi bi-briefcase"></i>
        </span>
        <span class="description">Cargos</span>
      </a>
    </div>

    <!-- menu desligamentos -->
    <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-desligamentos" aria-expanded="false"
      aria-controls="submenu-desligamentos">
      <span class="icon">
        <i class="bi bi-box-arrow-right"></i>
      </span>
      <span class="description">Desligamentos <i class="bi bi-caret-down-fill"></i></span>
    </a>

    <!-- submenu-desligamentos -->
    <div class="sub-menu collapse" id="submenu-desligamentos">
      <a [routerLink]="rotasService.listagemDesligamentos()" class="nav-link">
        <span class="icon">
          <i class="bi bi-file-earmark-text"></i>
        </span>
        <span class="description">Listagem Desligamentos</span>
      </a>
      <a [routerLink]="rotasService.listagemMotivoDesligamento()" class="nav-link">
        <span class="icon">
          <i class="bi bi-file-earmark-check"></i>
        </span>
        <span class="description">Motivos de Desligamento</span>
      </a>
    </div>

    <!---------------------------------------->
    <!-- <a class="nav-link" href="#">
      <span class="icon">
        <i class="bi bi-gear"></i>
      </span>
      <span class="description">Settings</span>
    </a> -->
  </nav>
</div>