<div class="menu-container d-flex flex-column flex-shrink-0 bg-light p-2">
  <div routerLink="/">
    <img src="/assets/img/logo2.jpg" alt="logo" class="logo">
  </div>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="paginas/dashboard/grafico-anual" class="nav-link active" aria-current="page">
        <i class="bi bi-graph-up me-2"></i>
        Dashboard
      </a>
    </li>

    <li>
      <a routerLink="paginas/ia-indica" class="nav-link link-dark">
        <i class="bi bi-cpu me-2"></i>
        IA Indica
      </a>
    </li>

    <li>
      <button class="btn align-items-center rounded collapsed w-100 text-start nav-link link-dark"
        data-bs-toggle="collapse" data-bs-target="#funcionario-collapse" aria-expanded="false">
        <i class="bi bi-people me-2"></i>
        Funcionários
      </button>
      <div class="collapse" id="funcionario-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
          <li><a routerLink="/paginas/paginas-listagem/listagem-funcionarios" class="link-dark rounded">
              Lista Funcionário
            </a></li>
          <li><a routerLink="/paginas/paginas-listagem/listagem-acompanhamentos" class="link-dark rounded">
              Acompanhamento
            </a></li>
        </ul>
      </div>
    </li>

    <li>
      <a routerLink="/paginas/paginas-listagem/listagem-setores" class="nav-link link-dark">
        <i class="bi bi-building me-2"></i>
        Setores
      </a>
    </li>

    <li>
      <a routerLink="/paginas/paginas-listagem/listagem-cargos" class="nav-link link-dark">
        <i class="bi bi-briefcase me-2"></i>
        Cargos
      </a>
    </li>
    <li>
      <button class="btn align-items-center rounded collapsed w-100 text-start nav-link link-dark"
        data-bs-toggle="collapse" data-bs-target="#desligamento-collapse" aria-expanded="false">
        <i class="bi bi-box-arrow-right me-2"></i>
        Desligamento
      </button>
      <div class="collapse" id="desligamento-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-3">
          <li><a routerLink="/paginas/paginas-listagem/listagem-desligamentos" class="link-dark rounded">
              Lista Desligamento
            </a></li>
          <li><a routerLink="/paginas/paginas-listagem/listagem-motivo-desligamento" class="link-dark rounded">
              Motivo de Desligamento
            </a></li>
        </ul>
      </div>
    </li>










    <!-- <li>
      <a routerLink="/paginas/paginas-listagem/listagem-desligamentos" class="nav-link link-dark">
        <i class="bi bi-box-arrow-right me-2"></i>
        Desligamento
      </a>
    </li>

    <li>
      <a routerLink="/paginas/paginas-listagem/listagem-motivo-desligamento" class="nav-link link-dark">
        <i class="bi bi-question-circle me-2"></i>
        Motivo de Desligamento
      </a>
    </li> -->

    <li>
      <a routerLink="/paginas/paginas-listagem/listagem-fit-cultural" class="nav-link link-dark">
        <i class="bi bi-hand-thumbs-up me-2"></i>
        Fit Cultural
      </a>
    </li>
  </ul>
  <hr>
</div>