.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  padding-top: 20px;
  background-color: #ef4444;
  transition: width 0.3s;
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  color: #fff;
}

.sidebar .description {
  font-size: 14px;
}

.sidebar :not(.abridor-de-menu).nav-link:hover {
  background-color: rgb(255, 105, 105);
}

.sidebar .sub-menu {
  background-color: #4c5e7182;
  padding-left: 3%;
}

@media (max-width: 991px) {
  .sidebar {
    width: 60px;
  }

  .sidebar .description {
    display: none;
  }

  .sidebar .nav-link {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .nav>:first-child {
    display: none;
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 60px;
    height: 60px;
    padding-top: 5px;
  }

  nav {
    overflow: hidden;
    height: 60px;
  }

  /** sidebar com algum elemento filho direto com hover, aplicar o css no nav */
  .sidebar:has(nav>:hover) nav {
    overflow: unset;
    height: unset;
  }

  .sidebar:has(nav>:hover) {
    height: 100%;
    width: 200px;
  }

  /* mostrar as descrições quando o icone estiver vazio */
  .sidebar:has(nav>:hover) .description {
    display: block;
  }

  /* ajustar texto do menu alinhado a esquerda */
  .sidebar .nav-link:not(:first-child) {
    justify-content: flex-start;
  }
}