<form class="container-fluid mt-3">
  <h3 class="display-5 fw-bold mb-3"><fa-icon [icon]="faLinkSlash" class="fs-1 text-primary me-2" />Desligamento de
    Funcionários</h3>

  <div class="row g-3">

    <div class="col-md-6">
      <div class="card p-4 h-100">
        <h5 class="card-title text-center">Desligamento</h5>

        <div class="m-2">
          <label class="form-label">Data</label>
          <input type="date" class="form-control" placeholder="Digite a data">
        </div>

        <div class="m-2">
          <label class="form-label">CPF</label>
          <input type="text" class="form-control" placeholder="Digite o cpf">
        </div>

        <div class="m-2">
          <label class="form-label">Nome</label>
          <input type="text" class="form-control" placeholder="Nome">
        </div>

        <div class="m-2">
          <label class="form-label">Setor</label>
          <input type="text" class="form-control" placeholder="TI">
        </div>

        <div class="m-2">
          <label class="form-label">Cargo</label>
          <input type="text" class="form-control" placeholder="Analista">
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-6">
      <div class="card p-4 h-100">
        <h5 class="card-title text-center">Situação do Desligamento</h5>

        <div class="m-2">
          <label for="grave">Grave:</label>
          <select class="form-control form-control-sm" id="grave">
            <option selected>Escolher...</option>
            <option>Sim</option>
            <option>Não</option>
          </select>
        </div>

        <div class="m-2">
          <label for="motivo">Motivo:</label>
          <textarea class="form-control" id="motivo" rows="3"></textarea>
        </div>

        <div class="m-2">
          <label for="feedback">Feedback:</label>
          <textarea class="form-control" id="feedback" rows="3"></textarea>
        </div>
      </div>
    </div>

  </div>

  <div class="text-start mt-3">
    <button [routerLink]="listaDeDesligamentosUrl" class="btn btn-secondary me-2" type="button">Cancelar</button>
    <button class="btn btn-primary" type="submit">Salvar</button>
  </div>

</form>