<nav class="bg-light d-flex justify-content-end align-items-center gap-3">

  <form class="w-60 m-2 d-flex gap-4 align-items-center" role="search">
    <!-- <input type="search" class="form-control" placeholder="Pesquisar..." aria-label="Search"> -->
    {{nomeUsuario()}}
    <div class="flex-shrink-0 dropdown"> <a href="#"
        class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false"> <img [src]="avatar()" alt="mdo" width="32" height="32" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small shadow">
        <!-- <li><a class="dropdown-item" href="#">Novo...</a></li>
        <li><a class="dropdown-item" href="#">Configurações</a></li>
        <li><a class="dropdown-item" href="#">Perfil</a></li>
        <li>
          <hr class="dropdown-divider">
        </li> -->
        <li><a class="dropdown-item clicavel" (click)="deslogar()">Desconectar</a></li>
      </ul>
    </div>
  </form>

</nav>