main {
  padding-top: 30px;
  width: 100vw;
  height: 82vh;
}

form {
  width: 100vw;
  height: 60vh;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 30vw;
  height: 30vh;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

input {
  width: 30vw;
  height: 7vh;
  margin-bottom: 10px;
}

button {
  width: 80px;
  height: 35px;
}
